@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(47, 88%, 63%);
    display: grid;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    width: 384px;
    height: 522px;
    margin-top: 25%;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 1px rgba(0, 0, 0, 1);

}


.blog-bg {
    border-radius: 10px;
    width: 336px;
    height: 200px;
    margin: 24px;
}



.status {
    background-color: hsl(47, 88%, 63%);
    width: 82px;
    height: 29px;
    border-radius: 4px;
    text-align: center;
    font-family: "Figtree", sans-serif;
    font-weight: 800;
    color: hsl(0, 0%, 7%);
    margin-bottom: 12px;
    margin-left: 24px;
    align-items: center;
}

.date {
    font-family: "Figtree", sans-serif;
    margin: 12px;
    margin-left: 24px;
}

.header {
    font-family: "Figtree", sans-serif;
    font-weight: 800;
    font-size: 25px;
    color: hsl(47, 88%, 63%);
    margin: 12px;
    margin-left: 24px;
}

.description {
    font-family: "Figtree", sans-serif;
    color: hsl(0, 0%, 50%);
    font-size: 16px;
    margin: 12px;
    margin-left: 24px;
}

.author {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 24px;
    margin-left: 24px;
    margin-bottom: 24px;
}

.author-pic {
    width: 32px;
    height: 32px;
}

.author-name {
    font-family: "Figtree", sans-serif;
    font-weight: 800;
    color: hsl(0, 0%, 7%);
}